#mob-data {
  border-collapse: collapse;
  //position: fixed;

  tr {
    th { 
      background: #fff;
      min-width: 105px; 
      padding: 7px 5px;
    }
    td { 
      text-align: center; 
    }
    &:nth-child(even) { background: #D8EEF2; }
    &:nth-child(odd) { background: #EDF1F2; }
  }
}

.data-headers { 
  border-bottom: 2px solid #000; 
  border-top: 2px solid #000;
}

.data-row { 
  td {
    padding: 7px 5px;
  }
}

.selected { background: #F5F4CE !important; }
